// color palette

@brand-primary: #FFA726;
@brand-50: #e0f2f1;
@brand-100: #ffe0b2;
@brand-200: #ffcc80;
@brand-300: #ffb74d;

@brand-secondary: #26a69a;
@brand-secondary-50: #e0f2f1;
@brand-secondary-100: #b2dfdb;
@brand-secondary-300: #4db6ac;
@brand-secondary-600: #00897b;

@font-color: rgba(0,0,0,.87);
@secondary-text: rgba(0,0,0,.54);
@hint-text: rgba(0,0,0,.26);
@dividers: rgba(0,0,0,.12);

@font-color-light: #f7f7f7;