@keyframes bounce-out-left {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounce-out-left {
  animation: bounce-out-left 1s 1;
}

@keyframes add-to-cancel {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  50% {
    opacity: 0;
    transform: rotate(720deg);
  }

  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

.add-to-cancel {
  animation: add-to-cancel 1s 1;
  animation-fill-mode: forwards;
}

@keyframes cancel-to-add {
  0% {
    opacity: 1;
    transform: rotate(45deg);
  }

  50% {
    opacity: 0;
    transform: rotate(720deg);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.cancel-to-add {
  animation: cancel-to-add 1s 1;
  animation-fill-mode: forwards;
}

@keyframes removed {
  100% {
    border: 0;
    height: 0;
    padding: 0;
  }
}

.removed {
  animation: removed .4s 1;
  animation-fill-mode: forwards;
}
