@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  -webkit-animation: bounceOutLeft 1s 1;
}

@-webkit-keyframes add-to-cancel {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  50% {
    opacity: 0;
    transform: rotate(720deg);
  }

  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

.add-to-cancel {
  -webkit-animation: add-to-cancel 1s 1;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes cancel-to-add {
  0% {
    opacity: 1;
    transform: rotate(45deg);
  }

  50% {
    opacity: 0;
    transform: rotate(720deg);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.cancel-to-add {
  -webkit-animation: cancel-to-add 1s 1;
  -webkit-animation-fill-mode: forwards;
}