// color palette

$brand-primary: #3498db;
$brand-light: #add5f0;
$brand-dark: #246a99;

$font-color: rgba(0, 0, 0, .87);
$secondary-text: rgba(0, 0, 0, .54);
$hint-text: rgba(0, 0, 0, .26);
$dividers: rgba(0, 0, 0, .12);

$font-color-light: #f7f7f7;

$background-color: #f5f5f5;

$btn-bg-inactive: #d8d8d8;

$li-border: #ccc;
$ul-border: #1b1919;
